<script type="text/x-template" id="home-template">
	<div ref="conHome" class="container-home">
                <slider-image></slider-image>
                <content-home :parent='$refs.conHome'></content-home>
                <!-- <div class="container-fav">
                        <div class="fav-header">
                                <div class="fav-dismiss"></div>
                        </div>
                        
                </div> -->
	</div>
</script>